# Composer dependencies
/vendor/

# PHPUnit
.phpunit.result.cache

# PHP Storm
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.log
*.cache
*.tmp


# Backup files
*.bak
*.swp
*~

# Composer lock file
composer.lock

# PHPUnit coverage reports
/coverage/